@tailwind base;
@tailwind components;
@tailwind utilities;
.scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS */
}
html {
  scroll-behavior: smooth;
}
