.container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
  }
  
  .footer {
    padding: 60px 0 30px;
  }
  
  .footer a {
    color: #555555;
    text-decoration: underline;
  }
  
  .footer a:hover {
    color: #000000;
  }

  .container h1 {
    font-family: 'Arial', sans-serif; 
    font-weight: bold; 
    font-size: 2rem;
    color: #333;
  }

  .container h4 {
    margin-bottom: 40px; /* This adds space between the <h4> and the OTP input */
  }

  .container button {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    padding: 12px 130px; /* Adjust padding for larger button */
    border: none; /* Remove border */
    border-radius: 8px; /* Rounded corners */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Show hand cursor */
    margin-top: 100px; /* Add space above the button */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    border-radius: 100px; /* makes surroundings to be round */
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }

  /* Countdown text styles */
  .countdown-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0px;
  }

  /* Countdown text paragraph styles */
  .countdown-text > p {

  font-size: 13px;
  font-weight: 400;
  color: #2d1d35
}

/* Countdown text button styles */
.countdown-text > button {
  background-color: #fff;
  border: none;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}
