.container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
  }
  
  .footer {
    padding: 60px 0 30px;
  }
  
  .footer a {
    color: #555555;
    text-decoration: underline;
  }
  
  .footer a:hover {
    color: #000000;
  }

  .container h1 {
    font-family: 'Arial', sans-serif; 
    font-weight: bold; 
    font-size: 2rem;
    color: #333;
  }

  .container h4 {
    margin-bottom: 40px; /* This adds space between the <h4> and the OTP input */
  }